<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
</head>
<body>
  <form action="" method="post">
    E-mail: <input type="text" name="EmailForm" id=""><br>
    Nome Completo <input type="text" name="NomeForm" id=""><br>
    Nome de usuario: <input type="text" name="UserNameForm" id=""><br>
    Senha: <input type="password" name="SenhaForm" id=""><br>
    <input type="submit" value="Cadastrar-se">
  </form>
</body>
</html>