<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if current_user.is_authenticated %}

        <h1>Bem vindo, {{ UserName }}!</h1>
        <a href="{{ url_for('Logout') }}">Sair</a>

    {% else %}

        <h1>Bem vindo!</h1>
        <a href="{{ url_for('Login') }}">Login</a>
        <a href="{{ url_for('Cadastro') }}">Cadastrar-se</a>

    {% endif %}
</body>
</html>